# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Post

on:
  workflow_dispatch:
  schedule:
  - cron: '0 1 * * *'
  - cron: '0 5 * * *'
  - cron: '0 9 * * *'
  - cron: '0 13 * * *'

jobs:
  post:

    runs-on: ubuntu-latest
    
    env:
      MONGO_DB: ${{ secrets.MONGO_DB }}
      NODE_ENV: ${{ secrets.NODE_ENV }}
      SLACK_HOOK_URL: ${{ secrets.SLACK_HOOK_URL }}

    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - name: Checkout main branch
      uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
    - run: yarn
    - run: npx playwright install --with-deps chromium
    - run: yarn post
